#default
node_modules/
.vscode/
.idea
*.log
src_old
*.old.js
phaserTilemapfix
*.zip
legacy*
*.txt
dump/
*.docx
*.patch
*.bak*
*.old*
higherVolume/

#editors
*.pyxel

#reporting
/report

#deploy
/gh-pages

#output
dist/
build/
coverage/
