html,
body {
    /* Layout */
    height: 100%;
    margin: 0;
    padding: 0;
    background: #111;
    color: #eee;
    font: caption;

    /* PIXELART PROPERTIES */
    filter: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
}

canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
